# Project artifacts
# =================

.bak/
/output/
/target/

# Vim temp files
*~


# OS X - Desktop Services Store
# =============================

.DS_Store


# IDE - Eclipse
# =============

.settings/
bin/
.checkstyle
.classpath
.project


# IDE - IntelliJ
# ==============

.idea/
*.iml


# Other
# =====

*.log
screenlog.0

# PID file
/application.pid

# State embedded database
/ingestion-module-state*
